.main_table {
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 1200px;
}
.main_table td {
    width: 240px;
    height: 80px;
    border: 2px solid #333;
    font-size: 30px;
    word-wrap: break-word;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 2px;
    font-family: Tahoma, sans-serif;
    text-transform: uppercase;
    position: relative;
}
h1 {
    text-align: center;
}
.main_table.colored .agent_cell {
    background: linear-gradient(to top, #61d37e, #31d851);
}
.main_table.colored .killer_cell {
    background: linear-gradient(to top, #52525d, #4e4c51);
    color: #eee;
}
.main_table.colored .neutral_cell {
    background: linear-gradient(to top, #fff8e4, #fcfffa);
}
.main_table .agent_cell_guessed {
    background: linear-gradient(to top, #8cf4b0, #63f981);
    box-shadow: inset 0 0 20px 5px #5f6e5d;
    color: #5f6e5d;
}
.main_table .killer_cell_guessed {
    background: linear-gradient(to top, #8b8b8b, #87848b);
    box-shadow: inset 0 0 20px 5px #c81b18;
    color: #c60000;
}
.main_table .neutral_guessed_my {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.7) url("img/me.png");
    background-size: cover;
    border: 1px solid black;
    left: 0;
    top: 0;
}
.main_table .neutral_guessed_partner {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    background: rgba(255, 255, 255, 0.7) url("img/partner.png");
    background-size: cover;
    border: 1px solid black;
    right: 0;
    top: 0;
}
.hidden {
    display: none;
}
.guessing {
    width: 400px;
    margin: 0 auto;
}
p.glue {
    display: block;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.stop_guessing_button {
    display: block;
    margin: 0 auto;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    padding: 5px;
    font-weight: bold;
}
.turns_count, .words_count {
    display: inline-block;
    margin: 0 0 20px 180px;
}
.making_glue {
    text-align: center;
    margin: 20px 0;
}
.making_glue_button {
    display: block;
    margin: 20px auto 0 auto;
}
.making_glue label, .making_glue input, .making_glue button {
    font-family: Tahoma, sans-serif;
    font-size: 30px;
    padding: 2px 5px;
}
.glue_text {
    width: 200px;
}
.glue_number {
    width: 55px;
}
.waiting_guessing p {
    display: block;
    width: 500px;
    margin: 20px auto 0 auto;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}
.waiting_glue p {
    display: block;
    width: 500px;
    margin: 20px auto 0 auto;
    text-align: center;
    font-family: Tahoma, sans-serif;
    font-size: 30px;
}
.button_center {
    text-align: center;
}
.toggleColored {
    margin-top: 20px;
    display: inline-block;
    font-size: 18px;
    padding: 5px 10px;
    letter-spacing: 1px;
    box-shadow: 1px 1px black;
    cursor: pointer;
}